<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<head>

{% load thumbnail %}


<script type = "text/javascript" src ="{{ STATIC_URL }}javascript/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet"href="{{ STATIC_URL }}css/editfollowingall.css">


      <meta charset="utf-8" />


</head>

<div class="container">

</div>

<div class="block">
<br>

<c> Click on a user if you wish to <br>remove them as a friend </c>





</div>



<div class="endless_page_template">
    {% include page_template %}
    </div></div>
<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
<script>$.endlessPaginate();</script>





<a class="theLink" href="{% url "world:Follower" %}"><div class="box1">FOLLOWER</div></a>
<a class="theLink" href="{% url "world:Following" %}"><div class="box2">FOLLOWING</div></a>
<a class="theLink" href="{% url "world:SearchPerson" %}"><div class="box3">SEARCH</div></a>
<div class="box10">Settings for your friends</div>
<a class="theLink" href="{% url "world:Profile" request.user.slug %}"><div class="box5">Return back To Profile</div></a>
<a class="theLink" href="{% url "world:LogoutRequest" %}"><div class="box7">Logout</div></a>
<a class="theLink" href="{% url "world:Myfriend" %}"><div class="box9">Return To Friends</div></a>


