{% load endless %}	{% load thumbnail %}

{% paginate 12,12 posts  %}





{% if EditFollowing %}






<div class="box8">

{% for f in posts %}
<a class="theLink" href="{% url "world:follower_remove" f.followee.username %}
"><div class="b1">  {% if f.followee.image %}{% thumbnail f.followee.image "60x60" crop="center" as im %}
    <img src="{{ im.url  }}"> 
{% endthumbnail %}{% else %} <img src="http://127.0.0.1:8000/media/empty/small-grey.png">

{% endif %}<p> {{f.followee}} </p></div></a>
{% endfor %}

</div>

{% endif %}

{% if EditFriend %}

<div class="box8">

{% for f in posts %}
<a class="theLink" href="{% url "world:friendship_cancel" f.username %}"><div class="b1">  {% if f.image %}{% thumbnail f.image "60x60" crop="center" as im %}
    <img src="{{ im.url  }}">
{% endthumbnail %}{% else %} <img src="http://127.0.0.1:8000/media/empty/small-grey.png">{% endif %}<p> {{f.username}} </p></div></a>
{% endfor %}



</div>

{% endif %}




{% get_pages %}
<div class="paginator">
Showing {{ pages.current_start_index }}-{{ pages.current_end_index }} of
{{ pages.total_count }}
</br>
{{ pages }}
</div>
