<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">

	<meta charset="utf-8" />
<link rel="stylesheet"href="{{ STATIC_URL }}css/picture.css">
<body>
<div class="box1">


</div>

<div class="box3">Add a picture to a board</div>


<div class="box4"></div>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div id="c">image</div> {{form.image}}
<div id="d"> description </div>{{form.description}}
<div class="box6">{{form.board}}</div> 
	<input type = "submit" value= "add" id="box2"/>
</form>


<div class="box5">return to board</div>

<div class="box6">




</div>

<div id="error">{{form.description.errors}}</div>
<div id="error1">{{form.image.errors}}</div>


<div class="box7"></div>

<form method = "GET" action"">{% csrf_token %}
<div class="box7">{{forms.board}}</div> 
	<input type = "submit" value= "return" id="box10"/>
</form>
<a class="theLink" href="{% url "world:Profile" person.slug %}"><div class="box11"><br><br>return to profile</div></a>

</body>
