<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">

<link rel="stylesheet"href="{{ STATIC_URL }}css/whatspark.css">


<div id="box1"></div>
<div id="box2"></div>
<div id="box3"></div>
<div id="box4"></div>
<div id="font">SparkaLight</div>
<div id="font2">Share your inspirational Journey</div>
<div id="font3">SparkaLight is an place where we can all discover and share our inspirational journey</div>
<div id="font4">What is an Journey</div>
<div id="font5">It's when you experience a different place</div>
<div id="font6">These are some special people who use SparkaLight to share their inspirational journey</div>
<div id="font7"><i>Richard is a person who loves photography and he wanted to share  his precious moment at a light<br> festival called Vivid Festival at sydneyy</div>

</div>
<a class="theLink" href="{% url "world:term" %}"><div id="font8">term and condition  </div></a>
<a class="theLink" href="{% url "world:privacy" %}"><div id="font9">privacy and policy</div></a>
<a class="theLink" href="{% url "world:contact" %}"><div id="font10">contact form</div></a>
<div id="font11">*</div>
<div id="font12">*</div>
<a class="theLink" href="{% url "world:faq" %}"><div id="font14">FAQ</div></a>
<div id="font15">*</div>