<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">

<head>
    {% load thumbnail %}
    {% load static %}
    {% load el_pagination_tags %}
    <link rel="stylesheet" href="{% static "css/archive.css" %}">

    <script type="text/javascript" src="{% static "javascript/jquery-1.9.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/jquery.columnizer.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            $('h1').addClass('dontend');
            $('.wide').columnize({
                width: 235,
                height: 520
            });
        });
    </script>

    <div class="box14">
        <div class="wide">
            {% paginate posts %}
            {% for b in posts %}

                {% if b.image %}

                    <div class="cake5">{% thumbnail b.image "150x150" crop="150px 150px" as im %}
                        <img alt="thumbnail" src="{{ im.url }}">{% endthumbnail %}

                        <a class="theLink" href="{% url "world:car" b.board.slug b.board.id %}">
                            <div class="black">"{{ b.board.name }} </div>
                        </a><a class="theLink" href="{% url "world:profile" b.user.username %}">
                            <div class="pur">{{ b.user.username }}</div>
                        </a>
                        <div class="red">NEW</div>
                    </div>

                {% endif %}

            {% endfor %}
            {% show_pages %}


        </div>
    </div>
