<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<head>

    {% load static %}
    <script type="text/javascript" src="{% static "javascript/jquery-1.9.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/jquery.columnizer.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/shadowbox.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/shadowbox.css" %}">
    <script type="text/javascript" src="{% static "javascript/slimbox2.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/slimbox2.css" %}" type="text/css" media="screen"/>


    <script type="text/javascript">
        {% verbatim %}
            $(function () {
                $('h1').addClass('dontend');
                $('.wide').columnize({
                    width: 300,
                    height: 600
                });
            });

        {% endverbatim %}
    </script>

    <script type="text/javascript">
        {% verbatim %}
            $(function () {
                $('h1').addClass('dontend');
                $('.big').columnize({
                    width: 310,
                    height: 150
                });
            });
        {% endverbatim %}
    </script>
    <script type="text/javascript">
        {% verbatim %}
            jQuery(document).ready(function ($) {
                Shadowbox.init({
                    animateFade: false,
                    animate: false
                });
            });
        {% endverbatim %}
    </script>

    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/boardcomment.css">
</head>
<body>

<div class="box1">


    <div class="box3">{% if board %}{{ board.name }}{% endif %}</div>
    <div class="box4">{% if board %}{{ board.description }}{% endif %}</div>
    <div class="box6"></div>


</div>
{% if board %}
    {% if user.is_authenticated %}<a class="theLink" href="{% url "world:BoardLike" board.id %}">
        <div class="ds"> Like {{ board.likeboard_set.count }}</div>
    </a>{% else %}
        <div class="ds"> Like {{ board.likeboard_set.count }}</div> {% endif %}

{% endif %}
<div class="b3"></div>
<div class="b4"></div>
{% if user.is_authenticated %}<a class="theLink" href="{% url "world:profile" person.slug %}">
    <div class="b9">profile</div>
</a>{% else %}
    <div class="b9">profile</div>{% endif %}
<a class="theLink" href="{% url "world:board_finder" %}">
    <div class="b10">Explore</div>
</a>
<a class="theLink" href="{% url "world:show_following" %}">
    <div class="b11">Sparkling</div>
</a>
<a class="theLink" href="{% url "world:board_creator" %}">
    <div class="b12">create</div>
</a>
<div class="b2">SparkaLight</div>
{% if board.user == request.user %}<a class="theLink" href="{% url "world:picture_creator" %}">
    <div class="box15">add a picture</div>
</a>{% endif %}
{% if board.user == request.user %}<a class="theLink" href="{% url "world:board_editor" %}">
    <div class="box16">edit board</div>
</a>{% endif %}
{% if user.is_authenticated %}<a class="theLink" href="{% url "world:logout_request" %}">
    <div class="box19">Logout</div>
</a>{% endif %}

<div class="box2">
    <div class="wide">
        {% for pet in picture.object_list %}{% load thumbnail %}


            <div class="box5">{% if pet.image %}{% thumbnail pet.image "x500" as im %}
                <a rel="shadowbox" href="{{ im.url }}">{% endthumbnail %}{% thumbnail pet.image "x175" as im %}
                <img class="border" src="{{ im.url }}"></a>{% endthumbnail %}



            {% endif %}


                <div class="box6">{{ pet.description }} </div>
            </div>

        {% endfor %}
    </div>
</div>

<div class="box18">


    {% if picture.object_list and picture.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
                {% if picture.has_previous %}
                    <a class="Link"
                       href="{% if picture %}?text={{ picture }}&{% else %}?{% endif %}page={{ picture.previous_page_number }}&pa={{ comment.number }}">newer entries &lt;&lt; </a>                {% endif %}

                <span class="current">
                    &nbsp;Page {{ picture.number }} of {{ picture.paginator.num_pages }}
                </span>

                {% if picture.has_next %}
                    <a class="Link"
                       href="{% if picture %}?text={{ picture }}&{% else %}?{% endif %}page={{ picture.next_page_number }}&pa={{ comment.number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>

<div class="box10"> view comment</div>
{% if board %}

    {% if user.is_authenticated %}{% if form %}
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.body }}{{ form.hidden_field }}
            <input type="submit" value="Post" id="look">
        </form> {% else %}  Friends are only allowed to comment {% endif %}

    {% endif %}{% endif %}

<div class="box11">
    <div class="big">{% for c in comment.object_list %}

        <div class="box12">
            <div class="box13"> {{ c.body }}<span>{{ c.user }}</span></div>{% if request.user == board.user %}
            <a class="theLink" href="{% url "world:deletecomment" c.id %}">
                <div class="box14"> delete</div>
            </a>{% endif %}</div>


    {% endfor %}


    </div>
</div>
<div class="box17">


    {% if comment.object_list and comment.paginator.num_pages > 1 %}
        <span class="step-links">
                {% if comment.has_previous %}
                    <a href="?pa={{ comment.previous_page_number }}&page={{ picture.number }}">newer entries &lt;&lt; </a>
                {% endif %}

            <span class="current">
                    &nbsp;Page {{ comment.number }} of {{ comment.paginator.num_pages }}
                </span>

            {% if comment.has_next %}
                <a class="Link" href="?pa={{ comment.next_page_number }}&page={{ picture.number }}"> &gt;&gt; older entries</a>
            {% endif %}
            </span>
        </div>
    {% endif %}

</div>


{{ form.body.errors }}
</body>