{% load static %}
<link rel="stylesheet" href="{% static "css/archive.css" %}">
{% load el_pagination_tags %}



<div class="box16">

    {% paginate comment %}
    {% for c in comment %}
        <div class="box17">"{{ c.body }}"<br><a class="theLink" href="{% url "world:profile" c.user.username %}">
            <div class="purple">was posted by {{ c.user.username }}</div>
        </a><a class="theLink" href="{% url "world:car" c.board.slug c.board.id %}">
            <div class="white">{{ c.board.name }}</div></a>
        </div></div>

    {% endfor %}
    {% show_pages %}
