<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<link rel="stylesheet" href="{% static "css/contactform.css" %}">
<div class="cake1"></div>
<span id="cake2">SparkaLight</span>
<span id="cake3">Contact Form</span>
<span id="cake4">email :</span>
<a class="theLink" href="{% url "world:term" %}"><span id="cake7">term and condition</span></a>
<a class="theLink" href="{% url "world:privacy" %}"><span id="cake8">privacy and policy</span></a>

<a class="theLink" href="{% url "world:profile" person.slug %}"><span id="cake9">Return to Profile</span></a>
<form method="POST">
    {% csrf_token %}
    {{ form.Category }}
    {{ form.text }}
    {{ form.email }}
    <span id="cake10">{{ form.email.errors }}</span>
    <span id="cake11">{{ form.text.errors }}</span>

    <input type="submit" value="submit" id="submit"/>
</form>
<span id="cake6">Your request will be answered via email</span>
