{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    {% load static %} {% load thumbnail %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content=""> {% load static %}
    <title>SparkaLight</title>
    <!-- Bootstrap core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static '/css/theme.css' %}">
    <!-- Custom styles for this template -->
    <!--  <link href="style.css" rel="stylesheet"> -->
</head>

<body class="bg-light bg-theme-style-1">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "world:profile" prof.slug %}">Return back to Profile</a>
                </li>
            </ul>
        </div>

        <a class="navbar-brand logo" href="/">Sparkalight</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "change" %}">Change Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "world:logout_request" %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main">

        <div class="container">
            <div class="row">
                <div class="col-sm-8 ml-auto mr-auto my-5 p-4 bg-white rounded box-shadow">
                    <h6 class="border-bottom border-gray pb-2 mb-4">Edit Profile</h6>
                    <ul class="nav nav-pills my-3">
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "change_email" %}">Change Email</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "world:faq" %}">Help Section</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "world:contact" %}">Contact Form</a>
                        </li>
                    </ul>

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Image</label>
                            <div class="col-sm-9">
                                {{ form.image }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">Clear</div>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    {{ form.checkbox }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">Profile is Public</div>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    {{ form.profile }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                                {{ form.description }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Inbox</label>
                            <div class="col-sm-9">
                                {{ form.inbox }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary" value="save" id="save">Save</button>
                            </div>
                        </div>
                    </form>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <hr class="my-5">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Board</label>
                            <div class="col-sm-9">
                                {{ deleteboard.board }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </form>
                    <a href="{% url "termination" %}" class="btn btn-info mt-3">Account Termination</a>
                </div>
            </div>
        </div>
    </main>
    <!-- /.main -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static "javascript/jquery-1.9.1.min.js" %}"></script>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('input').addClass('form-control');
        $('#id_profile').addClass('form-check-input');
        $('#id_checkbox').addClass('form-check-input');
        $('textarea').addClass('form-control');
        $('select').addClass('form-control');
    });
</script>

</html>


<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
<meta charset="utf-8"/>
<link rel="stylesheet" href="{% static "css/edit.css" %}">

<div class="container">

</div>

<div class="block">


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p><label for="id_image">Image:</label> {{ form.image }}{{ form.image.errors }}</p>


        <p>{{ form.name.errors }}<label for="id_name">Name:</label> {{ form.name }}</p>

        <p>{{ form.profile.errors }}<label for="id_Category">profile is public:</label>{{ form.profile }}</p>


        <p><label for="id_description">Description:</label>{{ form.description }}</p>

        <span div class="inbox">Inbox:</span>{{ form.inbox }}


</div>

<div id="checkbox">{{ form.checkbox }} Clear</div>
<input type="hidden" name="process" value="fourth">

<input type="submit" value="save" id="save">

</form>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="hello">
        <p>{{ deleteboard.board.errors }}<label for="id_board">Board:</label> {{ deleteboard.board }}</p>
        <input type="hidden" name="process" value="fifth">
        <input type="submit" value="Delete" id="delete">
    </div>

</form>

</div>

<div id="error">{{ form.description.errors }} </div>

<a class="theLink" href="{% url "termination" %}"><span id="termination"> Account termination </span></a>

<a class="theLink" href="{% url "change_email" %}">
    <div class="box1">Change Email</div>
</a>
<a class="theLink" href="{% url "world:faq" %}">
    <div class="box2">Help Section</div>
</a>
<a class="theLink" href="{% url "world:contact" %}">
    <div class="box3">Contact Form</div>
</a>
<div class="box4">edit Profile</div>
<a class="theLink" href="{% url "world:profile" prof.slug %}">
    <div class="box5">Return back To Profile1</div>
</a>
<a class="theLink" href="{% url "world:logout_request" %}">
    <div class="box7">Logout</div>
</a>
<a class="theLink" href="{% url "change" %}">
    <div class="box8">change password</div>
</a>
-->