<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
<head>

    {% load thumbnail %}


    <script type="text/javascript" src="{% static "javascript/jquery-1.9.1.min.js" %}"></script>


    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static "css/editfollowingall.css" %}">


</head>

<div class="container">

</div>

<div class="block">
    <br>

    <c> Click on a user if you wish to <br>stop show_following them</c>


</div>


<div class="endless_page_template">
    {% include page_template %}
</div></div>
<script type="text/javascript" src="{% static "el-pagination/js/el-pagination.js" %}"></script>
<script type="text/javascript">$.endlessPaginate();</script>


<a class="theLink" href="{% url "world:show_followers" %}">
    <div class="box1">FOLLOWER</div>
</a>
<a class="theLink" href="{% url "world:show_following" %}">
    <div class="box2">FOLLOWING</div>
</a>
<a class="theLink" href="{% url "world:search_person" %}">
    <div class="box3">SEARCH</div>
</a>
<div class="box4">Settings for the people your show_following</div>
<a class="theLink" href="{% url "world:profile" request.user.slug %}">
    <div class="box5">Return back To profile</div>
</a>
<a class="theLink" href="{% url "world:logout_request" %}">
    <div class="box7">Logout</div>
</a>








