{% load static %}
<link rel="stylesheet" href="{% static "css/faq.css" %}">
<div id="box1"></div>
<div id="box2"></div>
<div id="box3"></div>
<div id="box4"></div>
<div id="font">SparkaLight</div>
<div id="font2">FAQs SECTION</div>

<a class="theLink" href="{% url "world:term" %}">
    <div id="font8">term and condition</div>
</a>
<a class="theLink" href="{% url "world:privacy" %}">
    <div id="font9">privacy and policy</div>
</a>
<a class="theLink" href="{% url "world:contact" %}">
    <div id="font10">contact form</div>
</a>
<div id="font11">*</div>
<div id="font12">*</div>

<div id="font15">Board FAQ</div>
<div id="font16">profile Settings FAQ</div>
<div id="font17">SparkaLight Term</div>

<div id="font14">

    <span class="orange">What is a board?</span>
    <br>
    <span class="brown">A board is used to express our  journey as well as discovering and exploring other people journeys.</span>
    <br><br>
    <span class="orange">How do I  create a board?</span>
    <span class="brown">
		<li>1 Click on create which is located at the top left side of each page.</li>
		<li>2. Choose a name and tell us abit about your board</li>
		<li>3. (Optional) You may wish to add your first picture on the board.</li>
		<li>4 . Click create when you are finished.</li>
<br>
	</span>
    <span class="orange">How to add a picture to your own board</span>
    <br>
    <span class="brown">
			<li>1. Go to your board</li>
			<li>2. Click on add picture which is located above your board heading.</li>
			<li>3. Choose an image and write a description</li>
			<li>4, Click save when you're finish.</li>
	</span>
    <br>

    <span class="orange">How to delete a picture from a board</span>
    <br>
    <span class="brown">
<li>1. Go to your Board</li>
<li>2. Click edit board which is located above the heading of your board.</li>
        </li>
        <li>3.Scroll down to locate the heading "Delete Picture From Board"</li>
<li>4. Choose a board and click list.</li>
<li>5. Click on the picture you want to delete.</li>
</span>
    <br>

    <span class="orange">How to delete a board </span>
    <br>
    <span class="brown">
<li>1. Click on edit profile , located under your profile description at your profile page</li>
<li>2. Under the heading "Delete Board"</li>
<li>3. Choose a board you would like to delete</li>
<li>4, Click delete when you're finish.</li>
</span>
    <br>
    <span class="orange">How to edit a description for a particular picture  </span>
    <br>
    <span class="brown">
<li>1. Go to your Board</li>
<li>2. Click on the description  you would like to edit.</li>
<li>3. Click save once you are finished editing the description for a particular pictur</li>
<br><br><br>

<span class="orange">How to set an avatar at my profile page.</span>

<br>
<span class="brown">

<li>1. Click on edit profile which  located under your profile description at your profile page
 description.</li>
<li>2. Choose an image</li>
<li>3. Click save when you're finish.</li>
</span>


<span class="orange">How to make your profile public </span>

<br>
<span class="brown">
Setting your profile public would allow users who are not registered ,  view your profile.

<li>1. Click on edit profile which  located under your profile description at your profile page</li>
<li>2. Tick profile is Public to enable your profile to become public</li>
<li>3, Click save when you're finish.</li>
</span><br>
<span class="orange">How to edit your profile description </span><br>
<span class="brown">

<li>1. Click on edit profile which located under your profile description at your profile page</li>
<li>2. Write your profile description</li>
<li>3, Click save when you're finish.</li>
</span>
<br><br><br>
<span class="brown">
<br>
<span class="orange">Spark - </span> The term Spark is used in SparkaLight to refer to a user who wants to receive new announcements such as  new boards from a particular user. All new announcements can be view at the archive page
</span>
<br><br>
<span class="orange">How to Spark a user </span>
<br>
<span class="brown">
<li>1. Go to the user who you would like to spark</li>
<li>2. Click on Spark  , located underneath the user's profile description box. </li>
</span>
<br>
<span class="orange">How to add a friend</span>
<br>
<span class="brown">
<li>1. Go to the user who you would like to become friend with</li>
<li>2. Click on add friend , located underneath the user's profile description box. </li>
<li>3. An invitation will be sent to the user who you would like to become friend's with and if he accepts the invitation at friends page . </li>
<li>4. He will be listed on your friend page.</li>
</span>
<br>
<span class="orange">To view all your friends and friend's request.</span>
<br>
<span class="brown">

<li>1. Click on show_following , located on top of your profile name. at profile page</li>
<li>2. This page show all the people you sparked </li>
<li>3. Click on the blue box called Friend , located underneath the heading “People you sparked”</li>
</span>
<br>


<span class="orange"><b> Inbox FAQ</b></span>
<br><br>
<span class="orange">How To Deactivate Or Activate Inbox</span>
<br><br>
<span class="brown">

The registered user may able to deactivate , activate or only people on their friend's list to send them messages.

</span>

<br><br>
<span class="orange">

<li>1. Click on edit profile , located under your profile description at your profile page</li>
<li>2. Next to the heading "Inbox"</li>
<li>3. Choose one of the show_following 3 option</li>
<li>4, Click save when you're finish.</li>


</span>
<br>
<span class="orange"><b> Account termination FAQ</b></span>
<br><br>
<span class="brown">

The registered user may terminate his account any given time by show_following the prompt
</span>

<br><br>
<span class="orange">

<li>1. Click on edit profile , located under your profile description at your profile page</li>
<li>2. Scroll down and Click Account termination</li>
<li>3.  Follow the prompts</li>


</span>
<br>














<div>