<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content=""> {% load static %}
    <!-- <link rel="stylesheet" href="{% static "css/theme.css" %}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .box-shadow {
            box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
        }

        .logo {
            margin: 0 auto;
        }
    </style>
</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "world:profile" request.user.slug %}">Return back to Profile</a>
                </li>
            </ul>
        </div>

        <a class="navbar-brand logo" href="#">Sparkalight</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "world:logout_request" %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main">

        <div class="container">
            {% if posts.object_list and posts.paginator.num_pages > 1 %}
            <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">


                &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                <br> {% if posts.has_previous %}
                <a class="Link" href="{% if formula %}?text={{ formula }}&{% else %}?{% endif %}page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %} {% if posts.has_next %}
                <a class="Link" href="{% if formula %}?text={{ formula }}&{% else %}?{% endif %}page={{ posts.next_page_number }}">
                    &gt;&gt; older entries</a>
                {% endif %}
                </span>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-8 ml-auto mr-auto my-5 p-4 bg-white rounded box-shadow">
                    <h6 class="border-bottom border-gray pb-2 mb-4">People Who Sparkled You</h6>
                    <ul class="nav nav-pills mb-3">
                        <li class="nav-item">
                            <a class="nav-item nav-link active" href="{% url "world:show_following" %}">Follower</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link " href="{% url "world:my_friend" %}">Friend</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url "world:search_person" %}">Search</a>
                        </li>
                    </ul>

                    <div>
                        <hr>
                        <!--   <div class="media text-muted pt-3">
                            <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_162a8c00196%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_162a8c00196%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.546875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                data-holder-rendered="true">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark">Full Name</strong>
                                </div>
                                <span class="d-block">@username</span>
                            </div>
                        </div>-->

                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>
                        </br>



                    </div>


                </div>
            </div>
        </div>

    </main>
    <!-- /.main -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static "javascript/jquery-1.9.1.min.js" %}"></script>

</body>

</html>


<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
{% load thumbnail %}

<meta charset="utf-8"/>
<link rel="stylesheet" href="{% static "css/followers.css" %}">
<script type="text/javascript" src="{% static "javascript/jquery-1.9.1.min.js" %}"></script>


<link rel="stylesheet" href="{% static "css/float.css" %}">


<div class="container">

</div>

<div class="endless_page_template">
    {% include page_template %}
</div>
<script type="text/javascript" src="{% static "el-pagination/js/el-pagination.js" %}"></script>
<script type="text/javascript">$.endlessPaginate();</script>


<div class="box14">

    {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">


            &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}<br>

            {% if posts.has_previous %}
                <a class="Link"
                   href="{% if formula %}?text={{ formula }}&{% else %}?{% endif %}page={{ posts.previous_page_number }}">newer
                    entries &lt;&lt; </a>
            {% endif %}
            {% if posts.has_next %}
                <a class="Link"
                   href="{% if formula %}?text={{ formula }}&{% else %}?{% endif %}page={{ posts.next_page_number }}">
                    &gt;&gt; older entries</a>
            {% endif %}
            </span>
        </div>
    {% endif %}
</div>


<a class="theLink" href="{% url "world:my_friend" %}">
    <div class="box1">FRIEND</div>
</a>
<a class="theLink" href="{% url "world:show_following" %}">
    <div class="box2">FOLLOWING</div>
</a>
<a class="theLink" href="{% url "world:search_person" %}">
    <div class="box3">SEARCH</div>
</a>
<div class="box4">People who sparked you</div>
<a class="theLink" href="{% url "world:profile" request.user.slug %}">
    <div class="box5">Return back To Profile</div>
    <a class="theLink" href="{% url "world:logout_request" %}">
        <div class="box6">Logout</div>
    </a>

-->