<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
{% load thumbnail %}


<meta charset="utf-8"/>
<link rel="stylesheet" href="{% static "css/new.css" %}">
<script type="text/javascript" src="{% static "javascript/jquery-1.9.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/jquery.columnizer.js" %}"></script>


<script type="text/javascript">{% verbatim %}
    $(function () {
        $('h1').addClass('dontend');
        $('.wide').columnize({
            width: 210,
            height: 900
        });
    });{% endverbatim %}
</script>


<div class="box1"></div>
<div class="box3"></div>
<div class="box4"></div>


<a class="theLink" href="{% url "world:board_finder" %}">
    <div class="box5">RECENT</div>
</a>
<a class="theLink" href="{% url "world:BoardFinderLike" %}">
    <div class="box6">MOST LIKED</div>
</a>
<div class="box7">Share your inspirational Journey</div>
<a class="theLink" href="{% url "world:profile" person.slug %}">
    <div class="box9">profile</div>
</a>
<a class="theLink" href="{% url "world:archive" %}">
    <div class="box10">Achive</div>
</a>
<a class="theLink" href="{% url "world:following" %}">
    <div class="box11">following</div>
</a>
<a class="theLink" href="{% url "world:board_creator" %}">
    <div class="box12">create</div>
</a>
<div class="box2">SparkaLight</div>


<div class="box8">
    <div class="wide">
        {% for f in posts.object_list %}



            <a class="theLink" href="{% url "world:Boat" f.slug f.id %}">
                <div class="box13">{% if f.picture %}
                    <div class="picture">{% thumbnail f.picture.image "175x175" crop="175px 175px" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                    </div>{% endif %}
                    <div id="pink"> {{ f.name }}</div>
                    <div id="orange"> {{ f.user.username }}</div>
                </div>


            </a>



        {% endfor %}


    </div>
</div>

<div class="box14">

    {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">


            &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}<br>

            {% if posts.has_previous %}
                <a class="Link"
                   href="{% if formula %}?text={{ formula }}&{% else %}?{% endif %}page={{ posts.previous_page_number }}">newer
                    entries &lt;&lt; </a>
            {% endif %}
            {% if posts.has_next %}
                <a class="Link"
                   href="{% if formula %}?text={{ formula }}&{% else %}?{% endif %}page={{ posts.next_page_number }}">
                    &gt;&gt; older entries</a>
            {% endif %}
        </div>
        </div>
    {% endif %}
</div>
<form method="GET">{% csrf_token %}
{{ form.text.errors }}{{ form.text }}
</form>