{% load el_pagination_tags %}
{% load thumbnail %}


{% if EditFollowing %}

    <div class="box8">
        {% paginate posts %}
        {% for f in posts %}
            <a class="theLink" href="{% url "world:follower_remove" f.followee.username %}
">
                <div class="b1">  {% if f.followee.image %}{% thumbnail f.followee.image "60x60" crop="center" as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}{% else %} <img src="http://127.0.0.1:8000/media/empty/small-grey.png">

                {% endif %}<p> {{ f.followee }} </p></div>
            </a>
        {% endfor %}
    {% show_pages %}
    </div>
{% endif %}

{% if EditFriend %}
    <div class="box8">
        {% paginate posts %}
        {% for f in posts %}
            <a class="theLink" href="{% url "world:friendship_cancel" f.username %}">
                <div class="b1">  {% if f.image %}{% thumbnail f.image "60x60" crop="center" as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}{% else %}
                    <img src="http://127.0.0.1:8000/media/empty/small-grey.png">{% endif %}<p> {{ f.username }} </p>
                </div>
            </a>
        {% endfor %}
        {% show_pages %}
    </div>

{% endif %}

