<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
{% load static %}

<link rel="stylesheet" href="{% static "css/agreement.css" %}">

<div id="box1"></div>
<div id="box2"></div>
<div id="box3"></div>
<div id="box4"></div>
<div id="font">PRIVACY AND POLICY</div>

<a class="theLink" href="{% url "world:term" %}">
    <div id="font8">term and condition</div>
</a>
<a class="theLink" href="{% url "world:whatspark" %}">
    <div id="font9">about sparkalight</div>
</a>
<a class="theLink" href="{% url "world:contact" %}">
    <div id="font10">contact form</div>
</a>
<div id="font11">*</div>
<div id="font12">*</div>
<a class="theLink" href="{% url "world:faq" %}">
    <div id="font14">FAQ</div>
</a>
<div id="font15">*</div>


<div id="font13">

    <b>What information do we collect from you?</b>
    <br><br>
    When you register for the service , we collect the information called which we refer to as Personally Identifiable
    Information from you . Personally Identifiable Information are , email , name.
    <br><br>
    <b>What do we use Personally Identifiable Information for?</b>
    <li>We use it to notify you about technical updates or policy change.</li>
    <li>We use it to modify you about news regarding the service , service information .</li>
    <br><br>
    <b>Sparkalight will never sell or rent your Personally Identified Information to third party.
        We will only disclose your information under the show_following circumstance.</b>
    <br><br>
    <li>If we believe , we are required to do so by the law to protect and defend the interest of our users , business
        partners and this service
    </li>
    <br><br>

    We may use cookies (a small text file sent by your computer each time you visit our website, unique to your account
    or your browser) to store settings such as the language you use on this service so you don’t have to input repeated
    information once you have set already.
    <br><br>
    <b>You agree SparkaLight reserves the right to make changes to the privacy policy </b>if needed therefore
    Sparkalight advise you to keep a regular check up on our and privacy policy. You agree if you continue to use this
    service , you will accept the changed privacy and policy.

</div>
