{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    {% load static %} {% load thumbnail %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content=""> {% load static %}
    <title>SparkaLight</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static '/css/theme.css' %}">
    <!-- Custom styles for this template -->
    <!--  <link href="style.css" rel="stylesheet"> -->
</head>
<body class="blue-bg register">


    <div class="container">
        <div class="row sp-h-100 align-items-center">
            <div class="col-md-5 col-sm-10 mr-auto ml-auto d-blue-bg reg-box">
                <h1 class="text-center lb white">Welcome to SparkaLight</h1>
                <h2 class="text-center lb green">Your inspirational Journey begin here</h2>

                <form method="POST">
                    {% csrf_token %}
                        <span id="error">{{ form.username.errors }}</span>
                        <span id="error2">{{ form.email.errors }}</span>
                        <span id="error3">{{ form.password.errors }}</span>
                        <span id="error4">{{ form.date_of_birth.errors }}</span>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 lb white">Username:</label>
                        <div class="col-sm-8">
                            {{ form.username }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 lb white">Email:</label>
                        <div class="col-sm-8">
                            {{ form.email }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 lb white">Birth Date:</label>
                        <div class="col-sm-8">
                            {{ form.date_of_birth }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 lb white">Password:</label>
                        <div class="col-sm-8">
                            {{ form.password }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12 text-center">
                            <input type="submit" value="sign up" class="white lb orange-btn">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static "javascript/jquery-1.9.1.min.js" %}"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</body>

</html>


<!--<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<link rel="stylesheet" href="{% static "css/register.css" %}">
<body>
<div class="box1"></div>
<div class="box3">Welcome to SparkaLight</div>
<div class="box7">Your inspirational Journey begin here</div>
<span id="username">Username</span>
<span id="email">Email:</span>
<span id="password">Password:</span>
<span id="birthday">Birth Date:</span>

<form method="POST"> {% csrf_token %}
    <span id="error">{{ form.username.errors }}</span>
    <span id="error2">{{ form.email.errors }}</span>
    <span id="error3">{{ form.password.errors }}</span>
    <span id="error4">{{ form.date_of_birth.errors }}</span>

    {{ form.username }}
    {{ form.email }}
    <span id="id_date_of_birth">{{ form.date_of_birth }}</span>

    {{ form.password }}

    <div class="box4">


        <input type="submit" value="sign up" id="box2"/>


    </div>
</form>


</body>-->