<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<meta charset="utf-8"/>
<link rel="stylesheet" href="{% static "css/sparkprofile.css" %}">
<body>
<div class="box1"></div>
<div class="box3">Let Spark Your Profile</div>


<div class="box4">
    <form method="POST" enctype="multipart/form-data">
        <div class="box5">{{ form.image.errors }}</div>

        {% csrf_token %}
        <p> Name {{ form.name }}</p>
        <p> Avatar {{ form.image }}</p>
        <div id="i"> Tell us about <br>Yourself</div>
        <p>{{ form.description }} {{ form.description.errors }}</p>
        <input type="hidden" name="pro" value="first"/>
        <input type="submit" value="save" id="box2"/>
    </form>


</div>


</body>