<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<link rel="stylesheet" href="{% static "css/inbox.css" %}">

{% if DraftForm and ThreadForm %}

    <style type="text/css">

        #id_body {
            height: 240px;
            width: 440px;
            border-width: 2px;
            border-style: solid;
            border-color: #9AD9EA;
            color: #787878;
            position: absolute;
            left: 0px;
            top: 140px;
        }


    </style>

{% endif %}

<div class="box3"></div>
<div class="box4"></div>
<a class="theLink" href="{% url "world:profile" person.slug %}">
    <div class="box9">profile</div>
</a>
<a class="theLink" href="{% url "world:following" %}">
    <div class="box10">following</div>
</a>
<a class="theLink" href="{% url "world:board_finder" %}">
    <div class="box11">Explore</div>
</a>
<a class="theLink" href="{% url "world:board_creator" %}">
    <div class="box12">create</div>
</a>
<div class="cake1">SparkaLight</div>
<a class="theLink" href="{% url "message:message" %}">
    <div class="box16">Inbox</div>
</a>
<a class="theLink" href="{% url "message:draft" %}">
    <div class="box17">draft</div>
</a>
<a class="theLink" href="{% url "message:sent_message" %}">
    <div class="box18">Sent Message</div>
</a>
<div class="box13">create</div>


<div class="box15">

    {% if form %}
        <form method="POST">{% csrf_token %}

            {{ form.recipient }}
            {{ form.subject }}
            {{ form.message }}
            <input type="submit" value="save" class="save" id="save" name="_save"/>

            <input type="submit" value="send" class="save" id="send" name="_send"/>


        </form>

    {% endif %}

    {% if DraftForm and ThreadForm %}

        <form method="POST">{% csrf_token %}

            {{ DraftForm.recipient }}
            {{ ThreadForm.subject }}
            {{ DraftForm.body }}
            {{ DraftForm.hidden_field }}
            <input type="submit" value="send" class="save" id="send"/>


        </form>

    {% endif %}


</div>

<div id="username">To (username):</div>
<div id="subject">Subject:</div>
<div id="message">message:</div>

<span class="error1">{{ form.recipient.errors }}</span>
<span class="error3">{{ form.subject.errors }}</span>
<span class="error">{{ form.message.errors }}</span>


<span class="error3">{{ ThreadForm.subject.errors }}</span>
<span class="error1">{{ DraftForm.recipient.errors }}</span>
<span class="error">{{ DraftForm.body.errors }}</span>

