<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<link rel="stylesheet" href="{% static "css/inbox.css" %}">
{% load thumbnail %}
<div class="box3"></div>
<div class="box4"></div>
<a class="theLink" href="{% url "world:profile" person.slug %}">
    <div class="box9">Profile</div>
</a>
<a class="theLink" href="{% url "world:show_following" %}">
    <div class="box10">Following</div>
</a>
<a class="theLink" href="{% url "world:board_finder" %}">
    <div class="box11">Explore</div>
</a>
<a class="theLink" href="{% url "world:board_creator" %}">
    <div class="box12">Create</div>
</a>
<div class="cake1">SparkaLight</div>
<a class="theLink" href="{% url "message:create" %}">
    <div class="box16">New</div>
</a>
<a class="theLink" href="{% url "message:draft" %}">
    <div class="box17">draft</div>
</a>
<a class="theLink" href="{% url "message:sent_message" %}">
    <div class="box18">Sent Message</div>
</a>
<div class="box13">inbox</div>

<div class="box23"></div>

{% if messages %}


    <span class="d">{% if messages.user.image %}{% thumbnail messages.user.image "60x60" crop="center" as im %}
        <img src="{{ im.url }}">{% endthumbnail %}{% endif %}</span>
    <span class="send"><span class="sender">From : {{ messages.user.username }}</span></span>
    <span class="send"><span class="recipient">To : {{ messages.recipient.username }}</span></span>


{% endif %}




<div class="box22">


    {% for m in message %}

        <div class="wrapper">
            <div class="user">{{ m.user.username }} </div>
            <div class="message">{{ m.body }}</div>
        </div>

    {% endfor %}



    <form method="POST">{% csrf_token %}
        {{ form.body }}{{ form.hidden_field }}
        <input type="submit" value="send" class="sen"/>

    </form>


</div>

{{ form.body.errors }}