{% extends "base.html" %}

{% block title %}Password reset form{% endblock title %}

{% block content %}
    <h4>Reset Password</h4>

    <p>Forgotten your password?
        Enter your e-mail address below,
        and we'll e-mail instructions for setting a new one.</p>

    <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
            <div class="message red-gradient">{{ form.email.errors }}</div><br/>
        {% endif %}

        <p>E-mail address: {{ form.email }} <br/><br/>
            <input type="submit" value="Reset my password"></p>
    </form>
{% endblock content %}