<!DOCTYPE html>
<html lang="en-us">
<head>
    {% load static %}
    <title>Password change</title>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

    <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

    <meta name="robots" content="NONE,NOARCHIVE"/>
</head>


<body class="">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

            <h1 id="site-name">Sparkalight </h1>

        </div>


    </div>

    <!-- END Header -->

    <div class="breadcrumbs">
        <a href="{% url "world:display" %}">Back</a>
        &rsaquo; Password change
    </div>


    <!-- Content -->
    <div id="content" class="colM">


        <div id="content-main">

            <form action="" method="post">
                <div style='display:none'>{% csrf_token %}</div>
                <div>


                    <h2>Change Email</h2>

                    <p>You may change your email address by inserting your new one</p>

                    <fieldset class="module aligned wide">
                        <div class="form-row">

                            <label for="id_old_password" class="required">Old Email:</label>{{ form.old }}
                        </div>
                        {{ form.old.errors }}
                        <div class="form-row">

                            <label for="id_old_password" class="required">New Email:</label>{{ form.email }}
                        </div>
                        {{ form.email.errors }}


                    </fieldset>

                    <div class="submit-row">

                        <input type="submit" value="Change my email" class="default"/>
                    </div>


            </form>
        </div>


        <br class="clear"/>
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
