body{background-color: #FFFFFF}
#box1 {height: 45px; width:1600px; background-color:#99D9EA;position: absolute;left:0px;top:0px;}

#font {position: absolute;left:500px;top:100px;font-family: JasmineUPC;font-size: 70px;color: #E5AA7A;}
#font8 {position: absolute;left:1050px;top:3px;font-family: JasmineUPC;font-size: 35px;color: #FFFFFF}
#font9 {position: absolute;left:1255px;top:3px;font-family: JasmineUPC;font-size: 35px;color: #FFFFFF}
#font10 {position: absolute;left:1450px;top:3px;font-family: JasmineUPC;font-size: 35px;color: #FFFFFF}
#font11 {position: absolute;left:1237px;top:10px;font-family: JasmineUPC;font-size: 35px;color: #FFFFFF}
#font12 {position: absolute;left:1435px;top:10px;font-family: JasmineUPC;font-size: 35px;color: #FFFFFF}
#font13 {position: absolute;left:380px;top:200px;font-family: JasmineUPC;font-size: 30px;color: #787878;width:800px;}
#font14 {position: absolute;left:980px;top:5px;font-family: JasmineUPC;font-size: 35px;color: #FFFFFF}
#font15 {position: absolute;left:1030px;top:10px;font-family: JasmineUPC;font-size: 35px;color: #FFFFFF}
