
@font-face {font-family: SourceSansPro-Bold; src: url('SourceSansPro-Bold.TTF');}
@font-face {font-family: Bellota-Regular; src: url('Bellota-Regular.OTF');}
@font-face {font-family: Pacifico; src: url('Pacifico.TTF');}
@font-face {font-family: Quicksand_Book; src: url('Quicksand_Book.OTF');}
@font-face {font-family: Lora; src: url('Lora-Regular.TTF');}

body {background-color: #ED1B25}

.container {background-color: #ED1B25;height: 800px;width: 600px;margin: auto;}
.block {width: 580px;background-color: #FFFFFF;margin: 20px;position: absolute;left: 479px; top: 260px;border-style:solid;border-color:#919191;border-width:1px;padding-top: 20px;padding-left: 10px;}

.theLink {text-decoration:none;}

.box1 {width: 130px;height:36px;background-color: #FCD208;position: absolute;left: 500px; top: 220px;border-style:solid;border-color:#FCD208;border-width:1px;font-family: Bellota-Regular;;font-size:15px;color: #353535;text-align:center;padding-top: 14px;}
.box2 {width: 130px;height:36px;background-color: #FF7200;position: absolute;left: 640px; top: 220px;border-style:solid;border-color:#919191;border-width:1px;font-family: Bellota-Regular;;font-size:15px;color: #FFFFFF;text-align:center;padding-top: 14px;}
.box3 {width: 130px;height:36px;background-color: #4CB848;position: absolute;left: 780px; top: 220px;border-style:solid;border-color:#919191;border-width:1px;font-family: Bellota-Regular;;font-size:15px;color: #FFFFFF;text-align:center;padding-top: 14px;}
.box4 {width: 300px;height:200px;font-family: Pacifico; color: #FFFFFF;font-size: 60px;position: absolute;top:25px;left: 660px;}
.box5 {width: 220px;height:35px;background-color: #00B7F3;font-family: Bellota-Regular;color: #FFFFFF;font-size: 17px;position: absolute;left: 0px; top:20px;padding-top: 10px;padding-left: 10px;}
.box7 {width: 70px;height:150px;background-color: #00B7F3;font-family: Bellota-Regular;color: #FFFFFF;font-size: 17px;position: absolute;left: 1460px;top: 0px;padding-top: 20px;padding-left: 8px;}

p {font-size: 25px;color: #464646}
.color{background-color: #00B7F3;color: #FFFFFF;border-color:#00B7F3; }

#id_description{font-family: Quicksand_Book;color: #787878}