
@font-face {font-family: Bellota-Regular; src: url('Bellota-Regular.OTF');}
@font-face {font-family: Pacifico; src: url('Pacifico.TTF');}

@font-face {font-family: bellota-regular-webfont; src: url('bellota-regular-webfont.eot');}

body {background-color: #9BC74E}

.container {background-color: #9BC74E;height: 800px;width: 600px;margin: auto;}
.block {width: 580px;height:500px;background-color: #FFFFFF;margin: 20px;position: absolute;left: 479px; top: 260px;border-style:solid;border-color:#919191;border-width:1px;}


.box1 {width: 130px;height:36px;background-color: #F9C732;position: absolute;left: 500px; top: 220px;border-width:1px;font-family: Bellota-Regular;font-size:15px;color: #FFFFFF;text-align:center;padding-top: 14px;}
.box2 {width: 130px;height:36px;background-color: #00B7F3;position: absolute;left: 640px; top: 220px;border-width:1px;font-family: Bellota-Regular;font-size:15px;color: #FFFFFF;text-align:center;padding-top: 14px;}
.box3 {width: 130px;height:36px;background-color: #FF7E00;position: absolute;left: 780px; top: 220px;border-width:1px;font-family: Bellota-Regular;font-size:15px;color: #FFFFFF;text-align:center;padding-top: 14px;}
.box4 {width: 500px;height:200px;font-family: Pacifico; color: #FFFFFF;font-size: 50px;position: absolute;top:50px;left: 500px;text-align: center}
.box5 {width: 220px;height:35px;background-color: #00B7F3;font-family: Bellota-Regular;color: #FFFFFF;font-size: 17px;position: absolute;left: 0px; top:20px;padding-top: 10px;padding-left: 10px;}
.box6 {width: 70px;height:150px;background-color: #00B7F3;font-family: Bellota-Regular;color: #FFFFFF;font-size: 17px;position: absolute;left: 1460px;top: 0px;padding-top: 20px;padding-left: 8px;}
.box7 {width: 70px;height:150px;background-color: #FF7E00;font-family: Bellota-Regular;color: #FFFFFF;font-size: 17px;position: absolute;left: 1360px;top: 0px;padding-top: 20px;padding-left: 3px;padding-right: 4px;}

.b1 {width: 140px;height:100px;background-color: #FFFFFF;text-align: center;float:left;margin-bottom: 30px;}
img {margin-top: 10px;}
p{color: #D47084;font-family: Bellota-Regular;font-size: 15px;}

.paginator{position: absolute;left:1120px;top: 300px;font-family: Pacifico;color:#FFFFFF;height:130px;width:120px;font-size: 15px;}

.theLink {color:#FFFFFF; text-decoration:none; }
.pagination {font-family: Pacifico;color:#00B7F3}
.endless_page_link{color: #FF7E00}