body{background-color: #C9DB82}
#box1 {height: 45px; width:1600px; background-color:#99D9EA;position: absolute;left:0px;top:0px;}
#box2 {height: 90px; width:420px; background-color:#FF7E00;position: absolute;left:500px;top:80px;}
#box3 {height: 40px; width:135px; background-color:#FF7E00;position: absolute;left:420px;top:150px;}
#box4 {height: 40px; width:125px; background-color:#FF7E00;position: absolute;left:870px;top:155px;}
#font {position: absolute;left:560px;top:70px;font-family: JasmineUPC;font-size: 95px;color: #F5E49C;}
#font2 {position: absolute;left:450px;top:200px;font-family: JasmineUPC;font-size: 55px;color: #FF7E00;}
#font3 {position: absolute;left:70px;top:320px;font-family: JasmineUPC;font-size: 45px;color: #FFFFFF;}
#font4 {position: absolute;left:70px;top:370px;font-family: JasmineUPC;font-size: 45px;color: #FF7E00;}
#font5 {position: absolute;left:70px;top:420px;font-family: JasmineUPC;font-size: 45px;color: #FFFFFF;}
#font6 {position: absolute;left:70px;top:470px;font-family: JasmineUPC;font-size: 45px;color: #FF7E00;}
#font7 {position: absolute;left:70px;top:570px;font-family: JasmineUPC;font-size: 35px;color: #FF7E00;width:400px;}
#font8 {position: absolute;left:1050px;top:3px;font-family: JasmineUPC;font-size: 35px;color: #FFFFFF}
#font9 {position: absolute;left:1255px;top:3px;font-family: JasmineUPC;font-size: 35px;color: #FFFFFF}
#font10 {position: absolute;left:1450px;top:3px;font-family: JasmineUPC;font-size: 35px;color: #FFFFFF}
#font11 {position: absolute;left:1237px;top:10px;font-family: JasmineUPC;font-size: 35px;color: #FFFFFF}
#font12 {position: absolute;left:1435px;top:10px;font-family: JasmineUPC;font-size: 35px;color: #FFFFFF}
#font14 {position: absolute;left:980px;top:5px;font-family: JasmineUPC;font-size: 35px;color: #FFFFFF}
#font15 {position: absolute;left:1030px;top:10px;font-family: JasmineUPC;font-size: 35px;color: #FFFFFF}
