@font-face {
    font-family: HoneyScript-SemiBold;
    src: url('HoneyScript-SemiBold.TTF');
}

@font-face {
    font-family: Bellota-Regular;
    src: url('Bellota-Regular.OTF');
}

@font-face {
    font-family: honeyscript-semibold-webfont;
    src: url('honeyscript-semibold-webfont.eot');
}

body {
    background-color: #ABC837;
}

.cake1 {
    background-color: #ED1B24;
    height: 55px;
    width: 215px;
    position: absolute;
    left: 600px;
    top: 20px;
    font-size: 40px;
    font-family: HoneyScript-SemiBold, honeyscript-semibold-webfont;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.box3 {
    background-color: #00B7F0;
    height: 45px;
    width: 225px;
    position: absolute;
    left: 410px;
    top: 42px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #ED1B24
}

.box4 {
    background-color: #00B7F0;
    height: 45px;
    width: 215px;
    position: absolute;
    left: 790px;
    top: 40px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #ED1B24
}

.box9 {
    background-color: #00B7F0;
    height: 40px;
    width: 100px;
    position: absolute;
    left: 413px;
    top: 46px;
    font-size: 30px;
    font-family: HoneyScript-SemiBold, honeyscript-semibold-webfont;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.box10 {
    background-color: #00B7F0;
    height: 40px;
    width: 100px;
    position: absolute;
    left: 510px;
    top: 46px;
    font-size: 30px;
    font-family: HoneyScript-SemiBold, honeyscript-semibold-webfont;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.box11 {
    background-color: #00B7F0;
    height: 40px;
    width: 85px;
    position: absolute;
    left: 830px;
    top: 44px;
    font-size: 30px;
    font-family: HoneyScript-SemiBold, honeyscript-semibold-webfont;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.box12 {
    background-color: #00B7F0;
    height: 40px;
    width: 85px;
    position: absolute;
    left: 915px;
    top: 44px;
    font-size: 30px;
    font-family: HoneyScript-SemiBold, honeyscript-semibold-webfont;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.box13 {
    background-color: #FF7E00;
    height: 33px;
    width: 685px;
    position: absolute;
    left: 370px;
    top: 130px;
    font-size: 30px;
    font-family: HoneyScript-SemiBold, honeyscript-semibold-webfont;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.box14 {
    background-color: #E9B988;
    height: 570px;
    width: 695px;
    position: absolute;
    left: 370px;
    top: 190px;
    font-size: 30px;
    overflow-x: hidden;
}

.cake2 {
    background-color: #ED1B24;
    height: 100px;
    width: 55px;
    position: absolute;
    left: 1200px;
    top: 0px;
    font-size: 15;
    font-family: Bellota-Regular;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.box15 {
    background-color: #FF7E00;
    height: 33px;
    width: 250px;
    position: absolute;
    left: 40px;
    top: 130px;
    font-size: 20px;
    font-family: Bellota-Regular;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.box16 {
    background-color: #E9B988;
    height: 510px;
    width: 250px;
    position: absolute;
    left: 40px;
    top: 200px;
    font-size: 20px;
}

.box17 {
    background-color: #E9B988;
    width: 235px;
    margin: 5px;
    font-size: 16px;
    font-family: Bellota-Regular;
    color: #000000;
}

.purple {
    font-size: 13px;
    font-family: Bellota-Regular;
    color: #6F3198;
}

.white {
    font-size: 13px;
    font-family: Bellota-Regular;
    color: #FFFFFF;
    margin-left: 5px;
}

img {
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 12px;
    margin: 0 auto;
    margin-bottom: px;
}

.cake5 {
    background-color: #E9B988;
    width: 235px;
    margin: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 7px;
    text-align: center;
}

.black {
    color: #6F3198;
    font-size: 14px;
    font-family: Bellota-Regular;
}

.pur {
    color: #FF7E00;
    font-size: 13px;
    font-family: Bellota-Regular;
}

.red {
    color: #ED1C24;
    font-size: 16px;
    font-family: Bellota-Regular;
}

.theLink {
    text-decoration: none;
}

.b14 {
    position: absolute;
    left: 1100px;
    top: 240px;
    color: #FF7E00;
    height: 130px;
    width: 250px;
}

.Link {
    color: #9C5A3C;
    text-decoration: none;
}

.pagination {
    font-family: Pacifico;
    color: #9C5A3C
}

.b15 {
    text-align: center;
    position: absolute;
    left: 5px;
    top: 510px;
    color: #FF7E00;
    height: 80px;
    width: 250px;
    font-size: 15px;
}

.endless_page_link {
    color: #FFFFFF
}