<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>


    <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.columnizer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/shadowbox.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/shadowbox.css">
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.lazyload.min.js"></script>


    <script type="text/javascript">
        {% verbatim %}
            $(function () {
                $('h1').addClass('dontend');
                $('.wide').columnize({
                    width: 300,
                    height: 500
                });
            });

        {% endverbatim %}
    </script>

    <script type="text/javascript">
        {% verbatim %}
            $(function () {
                $('h1').addClass('dontend');
                $('.big').columnize({
                    width: 310,
                    height: 150
                });
            });
        {% endverbatim %}
    </script>
    <script type="text/javascript">
        {% verbatim %}
            jQuery(document).ready(function ($) {
                Shadowbox.init({
                    animateFade: false,
                    animate: false
                });
            });
        {% endverbatim %}
    </script>


    <script>
        {% verbatim %}
            jQuery(document).ready(function ($) {
                $("img.lazy").lazyload(
                    {
                        data_attribute: "orig"
                    });
            });{% endverbatim %}
    </script>

    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/boat.css">

</head>
<div class="box1">

    {% if board %}{% if user.is_authenticated %}
        <a class="theLink" href="{% url "world:BoardLike" board.id %}">
            <div class="ds"> Like {{ board.likeboard_set.count }}</div>
        </a>{% else %}
        <div class="ds"> Like {{ board.likeboard_set.count }}</div></a>{% endif %}
    {% endif %}
    <div class="box4">{% if board %}{{ board.description }}{% endif %}</div>
    <div class="box3">{% if board %}{{ board.name }}{% endif %}</div>

    <div class="box6"></div>


</div>
<div class="b3"></div>
<div class="b4"></div>
<a class="theLink" href="{% url "world:archive" %}">
    <div class="b9">Archive</div>
</a>
{% if user.is_authenticated %}<a class="theLink" href="{% url "world:profile" person.slug %}">
    <div class="b10">Profile</div>
</a>{% else %}
    <div class="b10">Profile</div>{% endif %}
<a class="theLink" href="{% url "world:show_following" %}">
    <div class="b11">Sparkling</div>
</a>
<a class="theLink" href="{% url "world:board_creator" %}">
    <div class="b12">Create</div>
</a>
<div class="b2">SparkaLight</div>
{% if board.user == request.user %}<a class="theLink" href="{% url "world:picture_creator" %}">
    <div class="box11">add a picture</div>
</a>{% endif %}
{% if board.user == request.user %}<a class="theLink" href="{% url "world:board_editor" %}">
    <div class="box12">edit board</div>
</a>{% endif %}
{% if user.is_authenticated %}<a class="theLink" href="{% url "world:logout_request" %}">
    <div class="box19">Logout</div>
</a>{% endif %}



<div class="box2">
    <div class="wide">
        {% for pet in picture.object_list %}{% load thumbnail %}


            <div class="box5">{% if pet.image %}
                <a rel="shadowbox" {% thumbnail pet.image "x500" upscale=False as im %}
                href="{{ im.url }}" {% endthumbnail %}> {% thumbnail pet.image "x175" upscale=False as im %}
                    <img class="lazy" src="aaaa.jpg"
                        data-orig="{{ im.url }}"
                        width="{{ im.width }}" height="{{ im.height }}"></a>{% endthumbnail %}


            {% endif %}

                {% if pet.user == request.user %}
                    <a class="theLink" href="{% url "world:description" pet.board.slug pet.board.id pet.id %}">
                        <div class="box6">{{ pet.description }} </div>
                    </a>{% else %}
                    <div class="box6">{{ pet.description }} </div>{% endif %}


            </div>

        {% endfor %}
    </div>
</div>


{% if picture.object_list and picture.paginator.num_pages > 1 %}
    <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
                {% if picture.has_previous %}
                    <a href="?page={{ picture.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ picture.number }} of {{ picture.paginator.num_pages }}
                </span>

                {% if picture.has_next %}
                    <a href="?page={{ picture.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
    </div>
{% endif %}


{% if board %}
    <a class="theLink" href="{% url "world:BoardCommentKiller" board.slug board.id %}">
        <div class="box10"> view comment</div>
    </a>
{% endif %}
{% if board.user == request.user %}{% else %}
    <a class="theLink" href="{% url "world:profile" son.slug %}">
        <div class="box20"> {{ son.name }}</div>
    </a>
{% endif %}