
.box1 {
    background-color: #FFFFFF;
    height: 520px;
    width: 510px;
    position: absolute;
    top: 120px;
}

.box2 {
    background-color: #FCD3A8;
    height: 500px;
    width: 1200px;
    position: absolute;
    top: 120px;
    left: 520px;
}

.box3 {
    background-color: #FFFFFF;
    height: 100px;
    width: 300px;
    position: absolute;
    left: 80px;
    top: 60px;
    font-size: 30px;
    font-family: Garamond;
    text-align: center;
    color: #434449;
    text-align: center;
}

.box4 {
    background-color: #FFFFFF;
    height: 150px;
    width: 320px;
    position: absolute;
    left: 75px;
    top: 170px;
    font-size: 20px;
    font-family: CordiaUPC;
    text-align: center;
    color: #666666
}

.box5 {
    background-color: #FCD3A8;
    width: 300px;
    margin: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 7px;
    text-align: center;
}

.box6 {
    background-color: #FFFFFF;
    margin: 5px;
    width: 250px;
    font-size: 20px;
    font-family: CordiaUPC;
    text-align: center;
    color: #666666;
    margin: 0 auto;
    margin-top: 10px;
}

img {
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 12px;
    margin: 0 auto;
    margin-bottom: px;
}

@font-face {
    font-family: HoneyScript-SemiBold;
    src: url('HoneyScript-SemiBold.TTF');
}

@font-face {
    font-family: honeyscript-semibold-webfont;
    src: url('honeyscript-semibold-webfont.eot');
}

@font-face {
    font-family: Bellota-Regular;
    src: url('Bellota-Regular.OTF');
}

@font-face {
    font-family: Pacifico;
    src: url('Pacifico.TTF');
}

body {
    background-image: url('expect.jpg');
}

.theLink {
    text-decoration: none;
}

.b2 {
    background-color: #9AD9EA;
    height: 45px;
    width: 205px;
    position: absolute;
    left: 650px;
    top: 20px;
    font-size: 40px;
    font-family: HoneyScript-SemiBold, honeyscript-semibold-webfont;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.b3 {
    background-color: #EE1B24;
    height: 40px;
    width: 200px;
    position: absolute;
    left: 460px;
    top: 42px;
}

.b4 {
    background-color: #EE1B24;
    height: 40px;
    width: 205px;
    position: absolute;
    left: 830px;
    top: 40px;
}

.b9 {
    background-color: #EE1B24;
    height: 35px;
    width: 100px;
    position: absolute;
    left: 460px;
    top: 42px;
    font-size: 30px;
    font-family: HoneyScript-SemiBold, honeyscript-semibold-webfont;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.b10 {
    background-color: #EE1B24;
    height: 35px;
    width: 100px;
    position: absolute;
    left: 560px;
    top: 42px;
    font-size: 30px;
    font-family: HoneyScript-SemiBold, honeyscript-semibold-webfont;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.b11 {
    background-color: #EE1B24;
    height: 35px;
    width: 85px;
    position: absolute;
    left: 860px;
    top: 40px;
    font-size: 30px;
    font-family: HoneyScript-SemiBold, honeyscript-semibold-webfont;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.b12 {
    background-color: #EE1B24;
    height: 35px;
    width: 85px;
    position: absolute;
    left: 950px;
    top: 40px;
    font-size: 30px;
    font-family: HoneyScript-SemiBold, honeyscript-semibold-webfont;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.box10 {
    background-color: #FFFFFF;
    height: 30px;
    width: 200px;
    text-align: center;
    font-family: Script MT Bold;
    color: #666666;
    font-size: 25px;
    position: absolute;
    top: 550px;
    left: 140px;
}

.ds {
    width: 60px;
    height: 30px;
    font-family: Script MT Bold;
    background-color: #FFFFFF;
    position: absolute;
    top: 350px;
    left: 210px;
    font-size: 20px;
    color: #00B7E7
}

.box11 {
    position: absolute;
    left: 340px;
    top: 95px;
    font-family: Script MT Bold;
    color: #9AD9EA;
    font-size: 17px;
}

.box12 {
    position: absolute;
    left: 450px;
    top: 95px;
    font-family: Script MT Bold;
    color: #9AD9EA;
    font-size: 17px;
}

.box13 {
    position: absolute;
    left: 1100px;
    top: 10px;
    font-family: Lobster;
    color: #EE1B24;
}

.box19 {
    position: absolute;
    left: 1100px;
    top: 10px;
    font-family: Script MT Bold;
    color: #EE1B24;
    font-size: 17px;
}

.box20 {
    position: absolute;
    left: 10px;
    top: 95px;
    font-size: 15px;
    font-family: Lucida Calligraphy;
    text-align: center;
    color: #E5AA7A;
}
