body {
    background-color: #FF7E00;
}

.box1 {
    background-color: #9AD9EA;
    height: 500px;
    width: 430px;
    position: absolute;
    left: 520px;
    top: 70px;
    border-style: solid;
    border-color: #00B7F0;
    border-width: 20px;
    margin: auto;
}

@font-face {
    font-family: Lobster;
    src: url('Lobster.OTF');
}

@font-face {
    font-family: lobsterwebfont;
    src: url('lobsterwebfont.EOT');
}

@font-face {
    font-family: Bellota-Regular;
    src: url('Bellota-Regular.OTF');
}

#box2 {
    background-color: #DDDDDD;
    height: 36px;
    width: 70px;
    margin: auto;
    display: block;
    position: relative;
    top: 100px;
    font-family: Lobster, lobsterwebfont;;
    font-size: 17px;
    color: #00B7F0;
}

.box3 {
    background-color: #9AD9EA;
    height: 40px;
    width: 350px;
    text-align: center;
    color: #FFFFFF;
    font-family: Lobster, lobsterwebfont;;
    font-size: 33px;
    margin: auto;
    display: block;
    position: relative;
    top: -180px;
}

.box6 {
    color: #FFFFFF;
    font-family: Lobster, lobsterwebfont;;
    font-size: 20px;
    position: absolute;
    top: 250px;
    left: 1020px
}

.box12 {
    color: #FFFFFF;
    font-family: Lobster, lobsterwebfont;;
    font-size: 20px;
    position: absolute;
    top: 180px;
    left: 1000px
}

.box4 {
    position: absolute;
    left: 770px;
    top: 200px;
}

#id_description {
    height: 80px;
    width: 210px;
    color: #00B7F0;
    font-family: Bellota-Regular;
    margin: auto;
    display: block;
    position: relative;
    top: 80px;
}

#id_primary {
    background-color: #FF7E00;
    position: absolute;
    top: 130px;
    left: 520px
}

p {
    text-align: center;
}

.box5 {
    background-color: #9AD9EA;
    height: 40px;
    width: 350px;
    position: relative;
    left: 570px;
    top: 390px;
    text-align: center;
    color: #FFFFFF;
    font-family: Lobster, lobsterwebfont;;
    font-size: 33px;
}

.theLink {
    text-decoration: none;
}

.box11 {
    background-color: #9AD9EA;
    height: 140px;
    width: 70px;
    position: absolute;
    left: 279px;
    top: 0px;
    border-color: #00B7F0;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 10px;
    font-family: Lobster;
    text-align: center;
    color: #FFFFFF
}

img {
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 12px;
    position: relative;
    top: 100px;
    display: block;
    margin: auto;
}

#id_boolean {
    background-color: #FF7E00;
    position: absolute;
    top: 190px;
    left: 520px
}