@font-face {
    font-family: Bellota-Regular;
    src: url('Bellota-Regular.OTF');
}

@font-face {
    font-family: Lora;
    src: url('Lora-Regular.TTF');
}

@font-face {
    font-family: Pacifico;
    src: url('Pacifico.TTF');
}

@font-face {
    font-family: GoodDog;
    src: url('GoodDog.OTF');
}

@font-face {
    font-family: gooddog-webfont;
    src: url('gooddog-webfont.eot');
}

body {
    background-color: #ED1B25
}

.container {
    background-color: #ED1B25;
    height: 800px;
    width: 600px;
    margin: auto;
}

.block {
    text-align: center;
    width: 580px;
    height: 500px;
    background-color: #FFFFFF;
    margin: 20px;
    position: absolute;
    left: 479px;
    top: 260px;
    border-style: solid;
    border-color: #919191;
    border-width: 1px;
}

.box1 {
    width: 130px;
    height: 36px;
    background-color: #FCD208;
    position: absolute;
    left: 500px;
    top: 220px;
    border-style: solid;
    border-color: #FCD208;
    border-width: 1px;
    font-family: Bellota-Regular;;
    font-size: 15px;
    color: #353535;
    text-align: center;
    padding-top: 14px;
    display: inline-block;
}

.box2 {
    width: 130px;
    height: 36px;
    background-color: #FF7200;
    position: absolute;
    left: 640px;
    top: 220px;
    border-style: solid;
    border-color: #919191;
    border-width: 1px;
    font-family: Bellota-Regular;;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 14px;
}

.box3 {
    width: 130px;
    height: 36px;
    background-color: #4CB848;
    position: absolute;
    left: 780px;
    top: 220px;
    border-style: solid;
    border-color: #919191;
    border-width: 1px;
    font-family: Bellota-Regular;;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 14px;
}

.box4 {
    width: 500px;
    height: 200px;
    font-family: Pacifico;
    color: #FFFFFF;
    font-size: 40px;
    position: absolute;
    top: 25px;
    left: 500px;
    text-align: center;
}

.box5 {
    width: 220px;
    height: 35px;
    background-color: #00B7F3;
    font-family: Bellota-Regular;
    color: #FFFFFF;
    font-size: 17px;
    position: absolute;
    left: 0px;
    top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.box7 {
    width: 70px;
    height: 150px;
    background-color: #00B7F3;
    font-family: Bellota-Regular;
    color: #FFFFFF;
    font-size: 17px;
    position: absolute;
    left: 1460px;
    top: 0px;
    padding-top: 20px;
    padding-left: 8px;
}

.box9 {
    width: 70px;
    height: 100px;
    background-color: #00B7F3;
    font-family: Bellota-Regular;
    color: #FFFFFF;
    font-size: 17px;
    position: absolute;
    left: 1350px;
    top: 0px;
    padding-top: 20px;
    padding-left: 8px;
}

.box10 {
    font-family: Pacifico;
    color: #FFFFFF;
    font-size: 40px;
    position: absolute;
    top: 40px;
    left: 550px;
    text-align: center;
}

c {
    color: #ED1B25;
    font-size: 27px;
    margin-bottom: 20px;
    margin: auto;
    font-family: GoodDog, gooddog-webfont;
}

.box8 {
    width: 540px;
    height: 320px;
    background-color: #FFFFFF;
    position: absolute;
    left: 505px;
    top: 400px;
}

.paginator {
    position: absolute;
    left: 1120px;
    top: 300px;
    font-family: Pacifico;
    color: #FFFFFF;
    height: 130px;
    width: 120px;
    font-size: 15px;
}

.endless_page_link {
    color: #00B7F3
}

.b1 {
    width: 140px;
    height: 100px;
    background-color: #FFFFFF;
    text-align: center;
    float: left;
    margin-bottom: 30px;
}

img {
    margin-top: 10px;
}

p {
    font-family: Bellota-Regular;
    font-size: 15px;
}

.theLink {
    text-decoration: none;
    color: #464646
}
