body {
    background-color: #FF7E00;
}

@font-face {
    font-family: Bellota-Regular;
    src: url('Bellota-Regular.OTF');
}

.box1 {
    background-color: #9AD9EA;
    height: 550px;
    width: 430px;
    position: absolute;
    left: 520px;
    top: 70px;
    border-style: solid;
    border-color: #00B7F0;
    border-width: 20px;
}

@font-face {
    font-family: Lobster;
    src: url('Lobster.OTF');
}

@font-face {
    font-family: lobsterwebfont;
    src: url('lobsterwebfont.EOT');
}

#box2 {
    background-color: #DDDDDD;
    height: 36px;
    width: 70px;
    position: relative;
    left: 690px;
    top: 330px;
    text-align: center;
    font-family: Lobster, lobsterwebfont;;
    font-size: 17px;
    color: #00B7F0;
}

.box3 {
    background-color: #9AD9EA;
    height: 40px;
    width: 350px;
    position: relative;
    left: 570px;
    top: 90px;
    text-align: center;
    color: #FFFFFF;
    font-family: Lobster, lobsterwebfont;;
    font-size: 33px;
}

#c {
    color: #FFFFFF;
    font-family: Lobster, lobsterwebfont;
    font-size: 25px;
    position: absolute;
    left: 570px;
    top: 175px;
}

#d {
    color: #FFFFFF;
    font-family: Lobster, lobsterwebfont;
    font-size: 25px;
    position: absolute;
    left: 570px;
    top: 225px;
}

#id_image {
    position: absolute;
    left: 670px;
    top: 185px;
    color: #00B7F0;
}

.box4 {
    position: absolute;
    left: 770px;
    top: 200px;
}

#id_description {
    height: 70px;
    width: 200px;
    position: absolute;
    top: 230px;
    left: 700px;
    color: #00B7F0;
    font-family: Arial;
}

p {
    text-align: center;
}

.box5 {
    height: 40px;
    width: 350px;
    position: absolute;
    left: 570px;
    top: 450px;
    text-align: center;
    color: #FFFFFF;
    font-family: Lobster, lobsterwebfont;;
    font-size: 33px;
}

select {
    height: 30px;
    width: 150px;
    text-align: center;
    background-color: #00B7F0;
    color: #FFFFFF;
    font-family: Lobster, lobsterwebfont;
    font-size: 20px;
    background-color: #00B7F0;
    color: #FFFFFF;
}

.box6 {
    position: absolute;
    top: 320px;
    left: 700px;
}

.box7 {
    position: absolute;
    top: 520px;
    left: 680px;
}

#box10 {
    background-color: #DDDDDD;
    height: 36px;
    width: 70px;
    position: absolute;
    top: 570px;
    left: 690px;
    text-align: center;
    font-family: Lobster, lobsterwebfont;
    font-size: 17px;
    color: #00B7F0;
}

.theLink {
    text-decoration: none;
}

.box11 {
    background-color: #9AD9EA;
    height: 140px;
    width: 70px;
    position: absolute;
    left: 279px;
    top: 0px;
    border-color: #00B7F0;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 10px;
    font-family: Lobster, lobsterwebfont;
    text-align: center;
    color: #FFFFFF
}

#error {
    height: 30px;
    width: 300px;
    color: #FFFFFF;
    font-family: Bellota-Regular;
    font-size: 15px;
    position: absolute;
    top: 230px;
    left: 1000px;
    color: #FFFFFF;
}

#error1 {
    height: 30px;
    width: 300px;
    color: #FFFFFF;
    font-family: Bellota-Regular;
    font-size: 15px;
    position: absolute;
    top: 180px;
    left: 1000px;
    color: #FFFFFF;
}

#id_board {
    background: #00B7F0;
}