.endless_page_template, .comment_paginator {
    color: #DCDCDCDC;
    font-family: Arial;
    font-size: 14px;
}

.endless_page_link {
    text-decoration: none;
    color: #067998;
    margin-right: 3px;
}

.endless_page_current {
    margin-right: 3px;
}

.box {
    width: 350px;
    min-height: 40px;
    color: 100px;
}
