body {
    background-color: #FF7E00;
}

@font-face {
    font-family: Bellota-Regular;
    src: url('Bellota-Regular.otf');
}

.box1 {
    background-color: #9AD9EA;
    height: 450px;
    width: 390px;
    position: absolute;
    left: 520px;
    top: 100px;
    border-style: solid;
    border-color: #00B7F0;
    border-width: 35px;
}

@font-face {
    font-family: Lobster;
    src: url('Lobster.otf');
}

@font-face {
    font-family: lobsterwebfont;
    src: url('lobsterwebfont.eot');
}

#box2 {
    background-color: #FF7E00;
    height: 40px;
    width: 80px;
    position: absolute;
    left: 120px;
    top: 330px;
    text-align: center;
    color: #FFFFFF;
    font-family: Lobster, lobsterwebfont;;
    font-size: 25px;
    border-style: solid;
    border-color: #FF7E00;
    border-width: 1px;
}

.box3 {
    background-color: #9AD9EA;
    height: 40px;
    width: 300px;
    position: absolute;
    left: 590px;
    top: 140px;
    text-align: center;
    color: #FFFFFF;
    font-family: Lobster, lobsterwebfont;;
    font-size: 33px;
}

p {
    color: #FFFFFF;
    font-family: Lobster, lobsterwebfont;
    font-size: 28px;
    margin-bottom: 3px;
}

.box4 {
    position: absolute;
    left: 570px;
    top: 200px;
}

textarea {
    height: 100px;
    width: 200px;
    position: absolute;
    top: 170px;
    left: 150px;
    color: #FF7E00;
    font-family: Bellota-Regular;
}

input {
    color: #FF7E00;
    font-family: Bellota-Regular;
}

.box5 {
    position: absolute;
    left: -30px;
    top: 115px;
    color: #B70001;
    font-family: Bellota-Regular;
    font-size: 13px;
}

#i {
    color: #FFFFFF;
    font-family: Lobster, lobsterwebfont;
    font-size: 28px;
    margin-top: 35px;
}